services:
  backend:
    build: ./backend
    ports:
      - "8022:8022"
    volumes:
      - ./data:/data

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
